dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.log
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
/.dist-buildwrapper/

examples/config.txt

dist/setup-config

dist/build/autogen/cabal_macros.h
